* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}


.navBar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 6vh;
    border-bottom: 1px solid goldenrod;
    background-color: #CFB53B;
    z-index: 1;
}

.navName {
    display: none;
    min-width: 20vw;
    font-family: 'Caveat', cursive;
    padding-left: 10px;
}

.showNavName {
    display: block;
}


ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    min-width: 20vw;
    align-items: center;
    /* background-color: darkgreen; */
}
.dropBox {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menuButton, .cartButton{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.dropDown {
    position: absolute;
    display: none;
    min-width: 5vw;
    min-height: 9vh;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.option {
    display: block;
    padding: 7px;
    cursor: pointer;
    background-color: none;
    min-width: 5vw;
    min-height: 5vh;
    
}

.option:hover {
    background-color: #CFB53B;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    min-height: 9vh;
    min-width: 5vw;
}
    
a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
    color: black;
}
/* .cartButton {

} */


.titleBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8vh;
    min-height: 20vh;
    /* background-color: firebrick; */
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 85px;
}

h3 {
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

.colorBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    /* background-color: rgb(0, 19, 128); */
}

.colorBoxImg {
    animation: shimmy 3s ease-in;
    animation-direction: normal;
}

img {
    opacity: 90%;
}

.sizeBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    /* background-color: fuchsia; */
}
.packetBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    /* background-color: yellow; */
}

.buyBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
   /* background-color: orangered; */
}

.buyButton {
    min-width: 7vw;
    min-height: 7vh;
    cursor: pointer;
    border: none;
    background-color: #CFB53B;
    font-size: 25px;
}

footer {
    display: flex;
    min-height: 15vh;
    background-color: #CFB53B;
}



